/* boxit modal */
.boxit-overlay{
	position: fixed;
	z-index: 50;
	background: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	right:0;
	bottom:0;
}
.boxit{
	width: 600px;
	z-index: 51;
	max-width: 94%;
	max-height: 100%;
	overflow: auto;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	background: #fff;
	position: fixed;
	display: none;
}
.boxit-content
{
	padding: 15px;
}